<div class="flex flex-col pt-32 items-center">
<h1 class="text-8xl text-gray-900 font-bold t-medium tracking-tighter text-center uppercase">Robocruit</h1>
<h2 class="text-3xl text-gray-600 font-semibold tracking-tight pt-4">The Easiest Way to Find Your Next Automation Job.</h2>
</div>